@model ICollection<Catalog.Domain.Plate>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>



<div class="row">
    <table class="arrowes-table table-striped">
        <thead>
            <tr>
                <th>Registration</th>
                <th>PurchasePrice</th>
                <th>SalePrice</th>
                <th>Status</th>
                <th>Purchase?</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var plate in Model)
            {
                <tr>
                    <td>@plate.Registration</td>
                    <td>@plate.PurchasePrice</td>
                    <td>@plate.SalePrice</td>
                    <td>Reserve</td>
                    <td>Purchase</td>
                </tr>
            }
        </tbody>
    </table>
</div>